<nav>

  <section class="contenedor nav">
    <div class="logo">
      <img src="./../../../assets/img-client/logo.png">
    </div>

    <div class="links">
      <ul class="nav-list">
        <li routerLinkActive="active">
          <a href="https://www.cruzroja.org.ar/cruz-roja-argentina/" class="link-principal">Cruz Roja Argentina</a>
          <a href="https://www.cruzroja.org.ar/filiales/" class="link-principal">Filiales</a>
          <a href="https://www.cruzroja.org.ar/voluntariado/" class="link-principal">Sumate</a>
          <a href="https://www.cruzroja.org.ar/dona/" class="link-principal">Colabora</a>
        </li>
      </ul>
    </div>

    <div class="link-sicreyd">
      <ul>
      <li>
        <a class="link" (click)="login()">SiCREYD</a>
      </li>
    </ul>
    </div>
  </section>

</nav>
