.contenedor {
  width: 100%;
  max-width: 1366px;
  margin: auto;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #615d5d12;
  background: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
}

.nav {
  width: 96%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .logo {
  height: 64px;
  width: 200px;
  padding-top: 8px;
}


.nav .links ul {
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  padding-top: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

}

.nav ul li .link-principal {
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  position: relative;
  letter-spacing: 0.1rem;
  transition: all 0.4s;
  margin-right: 15px;
}

.nav ul li .link-principal::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 0;
  height: 2px;
  background: #bd2d2d;
  transition: all 0.4s;
}

li .link-principal::before {
  top: 0;
}

.nav ul li .link-principal:hover::before {
  width: 100%;
}

.link-sicreyd ul li .link {
  text-transform: uppercase;
  background: #bd2d2d;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 0.1rem;
  color: #fff;
}

