<!-- <nav class= "navbar navbar-light"  style = "background-color: #B22222" >
  <a class="navbar-brand" routerLink="/">
    <img id="logo" src="https://i.pinimg.com/originals/e9/06/55/e906554d168be2c22fde6118f28af101.png" class="d-inline-block align-top" >
    Cruz Roja Cordoba</a>
  <a class="navbar-brand" id= "title" >Sistema de Gestion y Control de Emergencias y Desastres</a>
  <button class="navbar-toggler" style="background-color:white" type="button"  data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse"  id="navbarToggleExternalContent">
    <span class="navbar-text">Bienvenido a SICREYD</span>
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
        <a class="nav-link" (click)="logout()">Cerrar Sesion</a>
    </ul>
  </div>
</nav> -->


<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img id="logo" src="./../../../../assets/logo.png" class="d-inline-block align-top" >
  <li><h2>SICREYD</h2></li>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" routerLinkActive="active" *ngFor="let page of pages">
        <a class="nav-link" routerLink="/{{page.page}}">{{page.name}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{userSelected.selected}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="onClick()">{{userSelected.notSelected}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->

<!--
<nav  class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-between">
  <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target="#navbar-list-9" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div  class="collapse navbar-collapse w-100 order-3 order-lg-1" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" routerLinkActive="active" *ngFor="let page of pages">
        <a class="nav-link" routerLink="/{{page.page}}">{{page.name}}</a>
      </li>
    </ul>
  </div>
  <a  class="navbar-brand" routerLink="/">
    <img src="./../../../../assets/logo.png" width="110" height="40" alt="logo">
  </a>
  <div  class="collapse navbar-collapse justify-content-end w-100 order-3" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
            <a class="nav-link" (click)="login()">SICREYD</a>
          </div>
  </div>
</nav> -->

<nav>

  <section class="contenedor nav">
    <div class="logo">
      <img src="./../../../assets/img-client/logo.png">
    </div>

    <div class="links">
      <ul class="nav-list">
        <li routerLinkActive="active">
          <a href="https://www.cruzroja.org.ar/cruz-roja-argentina/" class="link-principal">Cruz Roja Argentina</a>
          <a href="https://www.cruzroja.org.ar/filiales/" class="link-principal">Filiales</a>
          <a href="https://www.cruzroja.org.ar/voluntariado/" class="link-principal">Sumate</a>
          <a href="https://www.cruzroja.org.ar/dona/" class="link-principal">Colabora</a>
        </li>
      </ul>
    </div>

    <div class="link-sicreyd">
      <ul>
      <li>
        <a class="link" (click)="login()">Sicreyd</a>
      </li>
    </ul>
    </div>
  </section>

</nav>
