<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF=8" />
    <link rel="stylesheet" href="list.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <h1>Lista de Usuarios</h1>
    <!--La lsta de los Usuarios debera devolver ciertos elementos-->
    <table id="users">
      <tr>
        <th>Id</th>
        <th>Nombre Completo</th>
        <th>Edad</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Domicilio</th>
        <th>Rol</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>

      <tr>
        <td>1</td>
        <td>Jose Diaz</td>
        <td>23</td>
        <td>4876601</td>
        <td>Jorge@gmail.com</td>
        <td>Duarte Quiro 1989</td>
        <td>C.General</td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-times"></i></td>
      </tr>


      <tr>
        <td>1</td>
        <td>Jose Diaz</td>
        <td>23</td>
        <td>4876601</td>
        <td>Jorge@gmail.com</td>
        <td>Duarte Quiro 1989</td>
        <td>C.General</td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-times"></i></td>

      </tr>

      <tr>
        <td>1</td>
        <td>Jose Diaz</td>
        <td>23</td>
        <td>4876601</td>
        <td>Jorge@gmail.com</td>
        <td>Duarte Quiro 1989</td>
        <td>C.General</td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-times"></i></td>

      </tr>

      <tr>
        <td>1</td>
        <td>Jose Diaz</td>
        <td>23</td>
        <td>4876601</td>
        <td>Jorge@gmail.com</td>
        <td>Duarte Quiro 1989</td>
        <td>C.General</td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-times"></i></td>
      </tr>

      <tr>
        <td>1</td>
        <td>Jose Diaz</td>
        <td>23</td>
        <td>4876601</td>
        <td>Jorge@gmail.com</td>
        <td>Duarte Quiro 1989</td>
        <td>C.General</td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-times"></i></td>

      </tr>

      <tr>
        <td>1</td>
        <td>Jose Diaz</td>
        <td>23</td>
        <td>4876601</td>
        <td>Jorge@gmail.com</td>
        <td>Duarte Quiro 1989</td>
        <td>C.General</td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-times"></i></td>
      </tr>

      <tr>
        <td>1</td>
        <td>Jose Diaz</td>
        <td>23</td>
        <td>4876601</td>
        <td>Jorge@gmail.com</td>
        <td>Duarte Quiro 1989</td>
        <td>C.General</td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-times"></i></td>
      </tr>

    </table>



    <button class="volver" routerLink="/home"><i>Volver</i></button>
  </body>
</html>
