<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="register.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


  </head>

  <body>

    <!-- Menu con Logo de Cruz Roja-->
  <header>
      <div id="Menu">
          <div class="imagen">
            <img  src="https://1.bp.blogspot.com/-BXNpxg99i3A/XvJ6dt66e1I/AAAAAAAABUo/s8CeXvXS9tsH3F3MTXBb5QLvE7G4fCKLACK4BGAsYHg/Logo_ISCRAFC.png">
         </div>
     </div>
  </header>

<div class="Details-User">
<h2>Detalles del Usuario</h2>
</div>

<div class="Details-Account">
  <h2>Detalles de la Cuenta</h2>
  </div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <label class="hoverable" for="fileInput">
    <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
    <div class="hover-text">Choose file</div>
    <div class="background"></div>
  </label>
  <br/>
  <input id="fileInput" type='file' (change)="onSelectFile($event)">


  <!-- Nombre -->
  <div class="User-FirstName">
        <input type="text" formControlName="userFirstName" placeholder="Nombres" [ngClass]="{ 'is-invalid': submitted && f.userFirstName.errors }"/>
        <div *ngIf="submitted && f.userFirstName.errors" class="invalid-feedback">
            <div *ngIf="f.userFirstName.errors.required">*Campo requerido</div>
        </div>
  </div>

    <!-- Apellido -->
    <div class="User-LastName">
        <input type="text" formControlName="userLastname" placeholder="Apellidos" [ngClass]="{ 'is-invalid': submitted && f.userLastname.errors }" />
        <div *ngIf="submitted && f.userLastname.errors" class="invalid-feedback">
            <div *ngIf="f.userLastname.errors.required">*Campo requerido</div>
        </div>
</div>

    <!-- **************---------************* -->
    <!-- **************TELEFONO************* -->
    <!-- pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" -->
    <div class="User-Phone">
     <input type="text" placeholder="Telefono" formControlName="userPhone" [ngClass]="{ 'is-invalid': submitted && f.userPhone.errors }" />
    <div *ngIf="submitted && f.userPhone.errors" class="invalid-feedback">
        <div *ngIf="f.userPhone.errors.required">*Campo requerido</div>
    </div>
    </div>
    <!-- **************Genero************* -->
    <div class="User-Gender">
      <label for="userGender" >Genero</label><br>
            <input type="radio" id="M"  value="M" formControlName="userGender"/>
<label for="male">Masculino</label><br>
<input type="radio" id="female" name="userGender" value="F" formControlName="userGender"/>
<label for="female">Femenino</label><br>
<input type="radio" id="other" name="userGender" value="O"formControlName="userGender" />
<label for="other">Otro</label>
      <div *ngIf="submitted && f.userGender.errors" class="invalid-feedback">
          <div *ngIf="f.userGender.errors.required">*Campo requerido</div>
      </div>
  </div>

 <!-- **************Email************* -->
 <div class="User-Email">
  <input type="text" placeholder="Correo electronico" formControlName="userEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }" />
  <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
      <div *ngIf="f.userEmail.errors.required">*Campo requerido</div>
  </div>
</div>

 <!-- **************FECHA NACIMIENTO************* -->
 <div class="User-Birthdate">
  <label for="birthdate">Fecha de Nacimiento</label>
  <input type="date" formControlName="userBirthdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userBirthdate.errors }" />
  <div *ngIf="submitted && f.userBirthdate.errors" class="invalid-feedback">
      <div *ngIf="f.userBirthdate.errors.required">*Campo requerido</div>
  </div>
</div>
<!-- **************ROLE************* -->
<div class="Role-Name">
      <select name="idRole" formControlName="roleID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.roleID.errors }">
      <option value="">Seleccione el puesto</option>
      <option value="0">Administrador</option>
      <option value="1">Coordinador General</option>
      <option value="2">Coordinador de Emergencias y Desastres</option>
      <option value="3" >Logistica</option>
      <!-- <option value="4">Voluntario</option> -->
    </select>
    <div *ngIf="submitted && f.idRole.errors" class="invalid-feedback">
      <div *ngIf="f.idRole.errors.required">*Campo requerido</div>
</div>
</div>

  <!--Detalles de la Cuenta-->
    <!-- Dni -->
    <div class="User-Dni">
      <input type="text"  placeholder="Documento" name="userDni" [ngClass]="{ 'is-invalid': submitted && f.userDni.errors }" />
      <div *ngIf="submitted && f.userDni.errors" class="invalid-feedback">
          <div *ngIf="f.userDni.errors.required">*Campo requerido</div>
      </div>
</div>
  <!-- Contraseña -->
  <div class= "User-Password">
        <input type="password"  placeholder="Contraseña" formControlName="userPassword"  [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }"/>
        <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
            <div *ngIf="f.userPassword.errors.required">Contraseña requerida</div>
            <div *ngIf="f.userPassword.errors.minlength">Debe tener minimo 8 caracteres</div>
            <div *ngIf="f.userPassword.errors.maxlength">Debe tener maximo 16 caracteres</div>
</div>
        </div>



    <!-- BOTONES REGISTRAR Y CANCELAR -->

    <div class="form-submit">
        <input class='animated' type='submit' value='Register'>
    </div>

    <div class= "submit">
            <a routerLink="/home" style="color: black; font-size: 13px; ">Cancelar</a>
    </div>

    <!-- **************---------************* -->
</form>


  </body>

</html>
