
body{
  background: #e9ecef;
  height: 100vh;
  width: 100vw;

}

.container {
  display: flex;
  flex-flow: column nowrap;

}


#form {
  display: flex;
  position: absolute;
 justify-content: center;
 top:50%;
 left: 50%;
 transform: translate(-50%,-50%);
 box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51); /*sombra del login */


}

.form-left {
  background: #b71c1c;
  margin: 0 20px 0 0;
  padding: 0;
  height: 520px;
}

.form-left .invalid-feedback{
  color:#fff;
}

.avatar {
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top:0px;
  left: 30px;

}
form input{
  color:black;
  height: 30px;
}



.hoverable .background{
  position: absolute;
  display: none;
  top: 0px;
  left:  0px;
  bottom: 0;
  right: 0px;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
  height: 140px;
  width: 140px;

}

.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}

.form-left .dniInput {
  color: #fff;
  width:90%;
  padding-left :5px;
    background: #b71c1c;
     border: none;
  border-bottom: 1px solid black;
  outline: none;

}

.dni{
  position:relative;
  top:-30px;
  padding-left:15px;
}

.password{
  position:relative;
  top:-20px;
  padding-left:15px;
}

.role{
  width:100%;
}

.form-center .select{
  width:100%;
  height:85%;
}




.form-left .passwordInput {
  color: #fff;
    width:100%;
  padding-left :5px;
  margin-left:15px;
    background: #b71c1c;
     border: none;
  border-bottom: 1px solid black;
  outline: none;

  }




.form-left h2 {
  margin: 0px 0;
  text-align:center;
  position: relative;
  top:0px;
  width: 100%;
}

.form-center {
  background: #e9ecef;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  margin: 0 20px 0 0;
  padding: 0;

}

.nombreInput,
.apellidoInput,
.telefonoInput,
.direccionInput,
.correoInput,
.fechaInput,
.correoInput {
  background: #e9ecef;
  flex: 1 1 100%;
   border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.enviar{
  flex: 1 1 100%;
    background: #9ea0a3;
    margin-top: 20px;
      transition: 0.3s ease-in-out;
      border:none;
      outline:none;
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);



}

a{
  outline:none;
  border:none;
}

.enviar:hover{
  background: #b71c1c;
    transform: translateY(5px);
}



.form-center .radio {
  margin: 0px;
}

.form-center h2 {
  flex: 1 1 100%;
  margin: 0px 0;
  text-align:center;
}


.Gender {
display: flex;
margin-bottom: 0px;
padding-left: 10px;
display: flex;
}

.Gender input{
   position: relative;
  top:-3px;
  left: 10px;
}

.Gender-Gender-text {
  padding-right: 10px;
  padding-top:0px ;
  margin-left: 15px;
}

/*de 0 a 900 */
@media all and (max-width: 900px) {
  #form {
    flex-direction: column;
  }

  #menu {
    flex-direction: column;
    height: auto;
  }

  .form-left .fileInput {
    width: 70px;
  }

  .Gender {
    margin-top: 0px;
    padding: 0px;
  }

  .Gender-Gender-text {
    padding: 0px;
    margin: 6px;
  }

  .enviar {
    width: 100%;
  }

  .hoverable {
    margin: 0 auto;
    position: relative;
    top:100px;
  }



  body{
    background: #e9ecef;
    height: 700px;

  }




}
