
/* --------------------------------------Nav-------------------------------------- */

/* Nav */

.contenedor {
  width: 96%;
  max-width: 1366px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 5px;
}

nav {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid transparent;
  background: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  width: 96%;
  align-items: center;
}

/* --------------------------------------Nav sidebar + logo juntos -------------------------------------- */

.sidelogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --------------------------------------Nav Logo-------------------------------------- */

/* logo */
.nav .logo {
  height: 64px;
  width: 200px;
  padding-bottom: 5px;
  padding-left: 16px;
}

.nav .logo img {
  height: 100%;
  width: 90%;
}

/* --------------------------------------Nav Sidebar + User-------------------------------------- */

input {
  display: none;
}

.Enlaces {
  position: fixed;
  width: 240px;
  top: 60px;
  left: -240px;
  height: 100%;
  background: #fff;
  transition: .5s;
}


label #menu{
  cursor: pointer;
  font-size: 20px;
  transition: .5s;
}


#check:checked ~ .Enlaces {
  left: 0px;
}



.Enlaces ul, .enlaces-user ul{
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
}



.Enlaces ul li{
  list-style: none;
  border-bottom: 1px solid  rgb(188, 188, 188);
}

.Enlaces ul li:hover, .enlaces-user ul li:hover{
  background: rgba(188, 188, 188, 0.337);
}


.Enlaces ul li i, .enlaces-user ul li i{
  padding-right: 20px;
  margin-left: 10px;
}

.Enlaces ul li a, .enlaces-user ul li a{
  color: #000;
  margin-left: 20px;
  transition: all .3s ease;
  text-decoration: none;
}

/* --------------------------------------Nav user-------------------------------------- */

/* user */
.enlaces-user{
  position: fixed;
  width: 240px;
  top: 60px;
  right: -240px;
  background: #fff;
  transition: .5s;
}

#check-user:checked~.enlaces-user {
  right: 0px;
}

.enlaces-user ul li{
  list-style: none;
  border-bottom: 1px solid  rgb(188, 188, 188);
}

label #user{
cursor: pointer;
}

/* --------------------------------------header-------------------------------------- */

header::before {
  content: "";
  display: flex;
  margin-bottom: 60px;
}

.contenedor1 {
  width: 100%;
  max-width: 1366px;
  background: rgb(250, 231, 223);
  overflow: hidden;
}

.contenido-header {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-bottom: 1px solid transparent;
}

.textos-header {
  color: #38A9F9;
  font-size: 35px;
}



.contenido-header a {
  margin: 30px 0 0 0;
  width: 130px;
  display: inline-block;
  background: #b71c1c;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
}


.contenido-header a:hover {
  background: #b71c1ccd;
}

/* --------------------------------------Section Cards-------------------------------------- */



/* Card min */

.card-min {
  background: rgba(188, 188, 188, 0.248);
}

.contenedor-articulo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-around;
}

.articulo{
  width: 20%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: .5s;
}

.articulo:hover {
  box-shadow: 0 4px 10px rgba(17, 29, 48, 0.563);
}


.articulo h3{
      font-size: 24px;
      margin-top: 10px;
      text-align: center;
}

.articulo p{
  font-weight: 100;
  color: #5d6678;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.articulo a, .articulo-max a{
  text-decoration: none;
  color: #5d6678;
  font-weight: 400;
}

/* card-max */
.card-max {
  background: rgba(188, 188, 188, 0.248);
}


.contenedor-articulo-max{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.articulo-max{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 20%;
  background: #fff;
  margin-bottom: 50px;
  border-radius: 10px;
  transition: .5s;
  padding-bottom: 30px;
}

.articulo-max:hover{
  box-shadow: 0 4px 10px rgba(17, 29, 48, 0.563);
}

.articulo-max h3{
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}

.articulo-max p{
  font-weight: 100;
  color: #5d6678;
  text-align: center;
}

