.container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  left: 6%;

}


tr:nth-child(even) {
  background-color: #fff;
}

.title {
  text-align: center;
  background: #fff;
  padding:  5% 0 2% 0;
  margin-bottom: 2%;
}


.title h1 {
  font-size: 30px;
  margin-top: 2%;
}
th {
  width: 30%;
}