<body>
  <div class="title">
    <h1>Lista de Usuarios</h1>
  </div>
  <div class="container">
    <a routerLink="register" class="btn btn-sm btn-success mb-2">Agregar usuario</a>
    <a routerLink="add" class="btn btn-sm btn-danger">Agregar recurso</a>
    <table class="table table-striped" style="z-index: 50; box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.10);">
      <thead>
        <tr style="background: #fff;">
          <th style="width: 30%">ID</th>
          <th style="width: 30%">Role</th>
          <th style="width: 30%">Usuario</th>
          <th style="width: 30%">DNI</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.userID}}</td>
          <td>{{user.roleName}}</td>
          <td>{{user.fullName}}</td>
          <td>{{user.userDni}}</td>
          <td style="white-space: nowrap">
            <a routerLink="edit/{{user.userID}}" class="btn btn-sm btn-primary mr-1">Actualizar</a>
            <button (click)="deleteUser(user.userID)" class="btn btn-sm btn-danger btn-delete-user"
              [disabled]="user.isDeleting">
              <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
              <span *ngIf="!user.isDeleting">Eliminar</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="!users">
          <td colspan="4" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
