.container{
  display: flex;
  margin-top: 100px;
  justify-content: space-around;

}

.Name-Lastname
{
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}

.Email{
  text-align: center;
}

.active{
  background: #F7F7F7!Important;
}

.nav-link{
  color: #000!Important;
  font-size: 14px!Important;
  padding: 15px 35px;
  cursor: pointer;
}

.nav-link i{
  padding-right: 10px;
}


label{
  display:flex;
  margin-bottom: 0;
}


.info, .Email{
  font-size: 14px;
}



.title{
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  padding: 20px;
}



.nombreInput,
.apellidoInput,
.telefonoInput,
.direccionInput,
.correoInput,
.fechaInput,
.correoInput,
.passwordInput{
  width:30%;
  border: none;
 border-bottom: 1px solid black;
 outline: none;
 margin-bottom: 1rem;
}

.enviar{
  width: 30%;
    background: #9ea0a3;
      transition: 0.3s ease-in-out;
      border:none;
      outline:none;
      margin-bottom: 1rem;
      margin-top: 15px;
      padding: 10px 10px;
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);

}

.cancelar{
  color: #000;
  text-decoration: none;
  margin-bottom: 15px;
}

.enviar:hover{
  background: #b71c1c;
    transform: translateY(5px);
    color: #fff;
}

.general{
  padding: 25px 0 0 50px;
}

.form-group
{
  margin: 0;
}

