<navbar></navbar>
<alert></alert>

<section class="Resources">
  <div class="title">
      <h1>Recursos</h1>
  </div>
  <div class="container1">
      <div class="card-general">
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-maletin-medico-2"></i>
              </div>

              <div class="card-content">
                  <h3>Materiales</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                    <a  class="" routerLink="materiales"></a>
                </div>
              </div>

          </div>

          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-genero"></i>
              </div>

              <div class="card-content">
                  <h3>Humanos</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                    <a  class="" routerLink="voluntarios"></a>
                </div>
              </div>

          </div>
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-financiamiento"></i>
              </div>

              <div class="card-content">
                  <h3>Medicamentos</h3>
                  <div class="arrow">
                     
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                    <a  class="" routerLink="medicamentos"></a>
                </div>

              </div>

          </div>
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-vehiculo-autorizado-01"></i>
              </div>

              <div class="card-content">
                  <h3>Vehiculos</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                    <a  class="" routerLink="vehiculos"></a>
                </div>
              </div>

          </div>
      </div>
  </div>
</section>
