
.container1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  z-index: -1;
 position: relative;
}


body {
  background: #eee;
}

.title {
  text-align: center;
  background: #fff;
  padding:  5% 0 2% 0;
  margin-bottom: 2%;}

.title h1 {
  font-size: 30px;
  margin-top: 2%;
}


.card-general {
  margin-top: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 250px;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  transition: .5s;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 100%;
  height: 120px;
  background: #bd2d2d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-image-resoursec {
  width: 120px;
  height: 120px;
  position: relative;
  background: #bd2d2d;
  z-index: 1;
  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 10px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image-resoursec i {
  font-size: 50px;
  color: #fff;
}

.card-content {
  height: 101px;
}

.arrow {
  background: rgba(128, 128, 128, 0.138);
  width: 15%;
  height: 33px;
  border-radius: 5px 0 0 5px;
  position: relative;
  left: 85%;
}

.card-content img {
  width: 15px;
  display: block;
  margin: auto;
  padding-top: 8px;
  cursor: pointer;

}

.card-content h3 {
  font-size: 25px;
  text-align: center;
  padding: 0 0 20px 0;
  margin-top: 5px;
}

/* responsove */



@media screen and (max-width: 1150px) {

  .card {
      width: 45%;
  }
}

  @media screen and (max-width: 636px) {
      .card {
          width: 100%;
          margin-bottom: 25px;
      }

      .title {
          margin-top: 5%;
      }

}


@media screen and (max-width: 526px) {

  .title h1 {
      font-size: 33px;
  }
}
