<!-- Hay que agregar boton  de Usuarios con su route e informacion -->
<h1>Hola {{currentUser.userFistname}} {{currentUser.userLastname}}!</h1>
<p>Bienvenido a SICREYD</p>
<h3>Todos los usuarios registrados:</h3>
<ul>
    <li *ngFor="let user of users">
    <div>  <strong> {{user.fullName}} </strong> - <a (click)="deleteUser(user.userID)" class="text-danger">Borrar</a>
      <br>
      <p>UserID: {{user.userID}} </p>
      <p>DNI: {{user.userDni}} </p>
     <p>Role: {{user.roleName}}</p>

      </div>
    </li>
</ul>
<div class="form-group">
  <button  class="btn btn-primary" routerLink="/register">Registrar Usuario</button>
</div>
