<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="home.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <!-- Cabecera de la Pagina  con el Logo de la Cruz Roja y con un Menu Principal-->
      <nav>
        <div class="navbar">
          <a class="navbar-brand" routerLink="/">
            <img
              id="logo"
              src="https://1.bp.blogspot.com/-BXNpxg99i3A/XvJ6dt66e1I/AAAAAAAABUo/s8CeXvXS9tsH3F3MTXBb5QLvE7G4fCKLACK4BGAsYHg/Logo_ISCRAFC.png"
          /></a>

          <input type="checkbox" id="check" />
          <label for="check">
            <i class="fas fa-user-circle" id="menu"></i>
          </label>

          <!--Menu Desplegable-->
          <div class="sidebar">
            <div class="header">
              <img src="https://www.w3schools.com/howto/img_avatar.png" />
              <h1 class="user">
                {{ currentUser.userFistname }} {{ currentUser.userLastname }}
              </h1>
            </div>
            <ul>
              <li>
                <a href="#"><i class="fas fa-user"></i>Perfil</a>
              </li>
              <li>
                <a (click)="logout()"
                  ><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="fondo"></div>

    <button class="registrer" routerLink="/register"><i>Registrar</i></button>
    <button class="list" routerLink="/list"><i>listar</i></button>
    <button class="registrer2" routerLink="/register2">
      <i>Registrar2</i>
    </button>
  </body>
</html>
