.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}


#form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
  /*sombra del login */

}


.form-left {
  background: #bd2d2d;
  ;
  padding: 0;
  height: 540px;
}

.form-left .invalid-feedback {
  color: #fff;
}

.avatar {
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.hoverable {
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: 10px;
  left: 30px;

}

form input {
  color: black;
  height: 30px;
}



.hoverable .background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
  height: 140px;
  width: 140px;

}

.hoverable:hover .background {
  display: block;
}

#fileInput {
  display: none;
}

.form-left .dniInput {
  color: #fff;
  width: 90%;
  padding-left: 5px;
  background: #bd2d2d;
  ;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;

}

.dni {
  position: relative;
  top: -30px;
  padding-left: 15px;
}

.password {
  position: relative;
  top: -20px;
  padding-left: 15px;
}

.role {
  width: 100%;
}

.form-center .select {
  width: 100%;
  height: 85%;
  outline: none;
  border: none;
}




.form-left .passwordInput {
  color: #fff;
  width: 100%;
  padding-left: 5px;
  margin-left: 15px;
  background: #bd2d2d;
  ;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;

}


.form-left ::placeholder {
  color: #fff;
}


.form-left h2 {
  margin: 0px 0;
  text-align: center;
  position: relative;
  top: 5px;
  width: 100%;
  color: #fff;
}

.form-center {
  background: #e9ecef;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px 0 20px;
  position: relative;
  height: 540px;

}

.nombreInput,
.apellidoInput,
.telefonoInput,
.direccionInput,
.correoInput,
.fechaInput,
.correoInput {
  background: #e9ecef;
  flex: 1 1 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.enviar {
  flex: 1 1 100%;
  background: #9ea0a3;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  border: none;
  outline: none;
  box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.75);



}


.enviar:hover {
  background: #b71c1c;
  transform: translateY(5px);
}



.form-center .radio {
  margin: 0px;
  position: relative;
  top: -20px;
}


.form-center ::placeholder {
  color: #000;
}

.form-center h2 {
  flex: 1 1 100%;
  margin: 0px 0;
  text-align: center;
}

a {
  color: #000;
}

.Gender {
  display: flex;
  margin-bottom: 0px;
  padding-left: 10px;
  display: flex;
}

.Gender input {
  position: relative;
  top: -3px;
  left: 10px;
}

.Gender-Gender-text {
  padding-right: 10px;
  padding-top: 0px;
  margin-left: 15px;
}

/*de 0 a 900 */
@media all and (max-width: 900px) {
  #form {
    flex-direction: column;
  }

  #menu {
    flex-direction: column;
    height: auto;
  }

  .form-left .fileInput {
    width: 70px;
  }

  .Gender {
    margin-top: 0px;
    padding: 0px;
  }

  .Gender-Gender-text {
    padding: 0px;
    margin: 6px;
  }

  .enviar {
    width: 100%;
  }

  .hoverable {
    margin: 0 auto;
    position: relative;
    top: 100px;
  }



  body {
    background: #e9ecef;
    height: 700px;

  }
}
