.carousel-item{
  height:100vh;



 }
 body{
   color:whitesmoke;
 }
 .carousel{
 margin-top:1%;
 }
 .carousel-caption {
   top:0;
   padding-top: 15%;
 }

 h1, .title-slide{
   color:#242431;
   font-family: 'Helvetica,Arial', sans-serif;
   font-size:68px;



 }
 p{
   font-size: 30px;
   color:#242535;
   font-weight: bold;
 }

 .img-slider{
   opacity: 0.75;
 }
