<div class="jumbotron">
  <div class="main-container">
    <div class="row">
     <div class="col-sm-8 offset-sm-2">
<h2>Registro</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

   <!-- **************AVATAR************* -->
   <div class="form-group">
    <div class="image-container">
    <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" class=""> <br/>
    <input type='file' (change)="onSelectFile($event)" formControlName="userAvatar" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userAvatar.errors }" />
    <div *ngIf="submitted && f.userAvatar.errors" class="invalid-feedback">
        <div *ngIf="f.userAvatar.errors.required">*Campo requerido</div>
    </div>
  </div>
    <span class="message">Click aqui para seleccionar tu avatar!</span>
   </div>
  <!-- Nombre -->
    <div class="form-group">
        <label for="userFirstName">Nombre</label>
        <input type="text" formControlName="userFirstName" placeholder="Nombres" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userFirstName.errors }"/>
        <div *ngIf="submitted && f.userFirstName.errors" class="invalid-feedback">
            <div *ngIf="f.userFirstName.errors.required">*Campo requerido</div>
            <div *ngIf="f.userFirstName.errors.name">*Ingrese su primer nombre</div>
        </div>
    </div>
    <!-- Apellido -->
    <div class="form-group">
        <label for="userLastname">Apellido</label>
        <input type="text" formControlName="userLastname" placeholder="Apellidos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userLastname.errors }" />
        <div *ngIf="submitted && f.userLastname.errors" class="invalid-feedback">
            <div *ngIf="f.userLastname.errors.required">*Campo requerido</div>
            <div *ngIf="f.userFirstName.errors.name">*Ingrese su apellido</div>
        </div>
    </div>
    <!-- userDni -->
    <div class="form-group">
      <label for="dni">DNI</label>
      <input type="text"  placeholder="Documento" formControlName="userDni" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userDni.errors }" />
      <div *ngIf="submitted && f.userDni.errors" class="invalid-feedback">
          <div *ngIf="f.userDni.errors.required">*Campo requerido</div>
          <div *ngIf="f.userFirstName.errors.maxlength">Debe tener minimo 8 caracteres</div>
      </div>
  </div>

  <!-- CONTRASEÑA -->
    <div class="form-group">
        <label for="userPassword">Contraseña</label>
        <input type="password"  placeholder="Contraseña" formControlName="userPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }"/>
        <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
            <div *ngIf="f.userPassword.errors.required">Contraseña requerida</div>
            <div *ngIf="f.userPassword.errors.minlength">Debe tener minimo 8 caracteres</div>
            <div *ngIf="f.userPassword.errors.maxlength">Debe tener maximo 16 caracteres</div>

        </div>
    </div>
    <!-- **************---------************* -->
    <!-- **************TELEFONO************* -->
    <!-- pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" -->
  <div class="form-group">
    <label for="phone">Telefono de Contacto</label>
     <input type="tel" placeholder="(11)(594-4878)" formControlName="userPhone" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.userPhone.errors }" />
    <div *ngIf="submitted && f.userPhone.errors" class="invalid-feedback">
        <div *ngIf="f.userPhone.errors.required">*Campo requerido</div>
        <div *ngIf="f.userFirstName.errors.required">Debe tener 9 caracteres minimo</div>
    </div>
</div>
    <!-- **************Genero************* -->
    <div class="form-group">
      <label for="userGender" >Genero</label><br>
            <input type="radio" id="M" name="userGender" value="M" formControlName="userGender"/>
<label for="male">Masculino</label><br>
<input type="radio" id="female" name="userGender" value="F" formControlName="userGender"/>
<label for="female">Femenino</label><br>
<input type="radio" id="other" name="userGender" value="O"formControlName="userGender" />
<label for="other">Otro</label>
      <div *ngIf="submitted && f.userGender.errors" class="invalid-feedback">
          <div *ngIf="f.userGender.errors.required">*Campo requerido</div>
      </div>
  </div>

<!-- **************Domicilio************* -->
  <div class="form-group">
    <label for="userAddress">Domicilio</label>
    <input type="userAddress" placeholder="Domicilio" formControlName="userAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userAddress.errors }" />
    <div *ngIf="submitted && f.userAddress.errors" class="invalid-feedback">
        <div *ngIf="f.userAddress.errors.required">*Campo requerido</div>
    </div>
</div>
   <!-- **************Email************* -->
   <div class="form-group">
    <label for="userEmail">Email</label>
    <input type="email" placeholder="Correo electronico" formControlName="userEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }" />
    <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
        <div *ngIf="f.userEmail.errors.required">*Campo requerido</div>
        <div *ngIf="f.userFirstName.errors.email">Email invalido</div>
    </div>
</div>
   <!-- **************FECHA NACIMIENTO************* -->
   <div class="form-group">
    <label for="userBirthdate">Fecha de Nacimiento</label>
    <input type="date" formControlName="userBirthdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userBirthdate.errors }" />
    <div *ngIf="submitted && f.userBirthdate.errors" class="invalid-feedback">
        <div *ngIf="f.userBirthdate.errors.required">*Campo requerido</div>
    </div>
</div>
  <!-- **************ROLE************* -->
  <div class="form-group">
    <label for="roleID">Puesto / Oficina</label>
        <select name="roleID" formControlName="roleID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.roleID.errors }">
        <option value="">Seleccione el puesto</option>
        <option value="1">Administrador</option>
        <option value="2">Coordinador General</option>
        <option value="3">Coordinador de Emergencias y Desastres</option>
        <option value="4" >Logistica</option>
        <!-- <option value="4">Voluntario</option> -->
      </select>
      <div *ngIf="submitted && f.roleID.errors" class="invalid-feedback">
        <div *ngIf="f.roleID.errors.required">*Campo requerido</div>
  </div>
</div>



    <!-- BOTONES REGISTRAR Y CANCELAR -->

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Registrar
        </button>
        <a routerLink="/home" class="btn btn-link">Cancelar</a>
    </div>
    <!-- **************---------************* -->
</form>
     </div>
    </div>
  </div>
</div>
