<div class="jumbotron">
  <div class="main-container">
    <div class="row">
     <div class="col-sm-8 offset-sm-2">
            <h2>Ingreso</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="userDni">Documento</label>
        <input type="text" formControlName="userDni" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userDni.errors }">
        <div *ngIf="submitted && f.userDni.errors" class="invalid-feedback">
            <div *ngIf="f.userDni.errors.required">*Campo obligatorio</div>
        </div>
    </div>
    <div class="form-group">
        <label for="userPassword">Contraseña</label>
        <input type="password" formControlName="userPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }" />
        <div *ngIf="submitted && f.userPassword.errors" class="invalid-feedback">
            <div *ngIf="f.userPassword.errors.required">*Campo obligatorio</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Ingresar
        </button>
    </div>
</form>
</div>
</div>
  </div>
</div>
