<nav>
  <section class="contenedor nav" >
      <!-- Enlaces -->
      <div class="sidelogo">
          <input type="checkbox" id="check">
              <label for="check">
                  <i class="fas fa-bars" id="menu"></i>
              </label>

          <!-- Sidebar -->
            <div class="Enlaces" *ngFor="let page of pages">
              <ul class="navbar-nav mr-auto" >
                <li class="nav-item" routerLinkActive="active" >
                   <a class="nav-link" routerLink="/home"><i class="fas fa-home"></i>Inicio</a>
                </li>
              
                <hr/>
            
                <li *ngIf="roleUser ==='Coordinador General' || roleUser==='Admin'" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/{{page.page}}">{{page.name}}</a> 
                </li>

               <hr/>
             </ul>
            </div>


          <!-- Logo -->
          <div class="logo">
              <img src="assets/img-home-users/Logo.png" alt="">
          </div>
      </div>



        <!-- user -->

            <a class="fas fa-user-circle" id="user" data-toggle="dropdown"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="first-title">
                  <p class="title">{{currentUser.userFirstname}} {{currentUser.userLastname}}</p>
                    <p class="title dos">{{currentUser.userEmail}}</p></div>
                    <ul >
                      <li ><a routerLink="/home/edit/{{currentUser.userID}}" ><i class="fas fa-id-card"></i>Perfil</a></li>
                      <li><a (click)="logout()"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a></li>
                  </ul>
            </div>
</section>
</nav>
