<nav>
  <section class="contenedor nav" >
      <!-- Enlaces -->
      <div class="sidelogo">
          <input type="checkbox" id="check">
              <label for="check">
                  <i class="fas fa-bars" id="menu"></i>
              </label>

          <!-- Sidebar -->
          <div class="Enlaces" >
            <ul class="navbar-nav mr-auto" *ngFor="let page of pages" >   
           <hr/>
                <li  class="nav-item" >
                    <a class="nav-link" routerLink="/{{page.page}}" routerLinkActive="active"><i [ngClass]='page.img'></i>{{page.name}}</a> 
                </li>
             </ul>
          </div>


          <!-- Logo -->
          <div class="logo">
              <img src="assets/img-home-users/Logo.png" alt="">
          </div>
      </div>



        <!-- user -->

            <a class="fas fa-user-circle" id="user" data-toggle="dropdown"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="first-title">
                  <p class="title">{{currentUser.firstName}} {{currentUser.lastName}}</p>
                    <p class="title dos">{{currentUser.email}}</p></div>
                    <ul >
                      <li ><a routerLink="/home/edit/{{currentUser.id}}" ><i class="fas fa-id-card"></i>Perfil</a></li>
                      <li><a (click)="logout()"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a></li>
                  </ul>
            </div>
</section>
</nav>
