<!-- <nav  class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-between">
  <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target="#navbar-list-9" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse w-100 order-3 order-lg-1" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" routerLinkActive="active" *ngFor="let page of pages">
        <a class="nav-link" routerLink="/{{page.page}}">{{page.name}}</a>
      </li>
    </ul>
  </div>
  <a  class="navbar-brand" routerLink="/">
    <img src="./../../../../assets/logo.png" width="110" height="40" alt="logo">
  </a>
  <div  class="collapse navbar-collapse justify-content-end w-100 order-3" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
            <a class="nav-link" (click)="logout()">Cerrar Sesion</a>
          </div>
  </div>
</nav> -->


<nav>
  <section class="contenedor nav" >
      <!-- Enlaces -->
      <div class="sidelogo">
          <input type="checkbox" id="check">
              <label for="check">
                  <i class="fas fa-bars" id="menu"></i>
              </label>

          <!-- Sidebar -->
          <div class="Enlaces">
            <a class="nav-link" routerLink="/home">Inicio</a>
            <ul class="navbar-nav mr-auto" *ngFor="let page of pages">

              <li class="nav-item" routerLinkActive="active" >
<!--                 <a class="nav-link" routerLink="/home"><i class="fas fa-home"></i>Inicio</a>
 -->              </li>
              <li *ngIf="roleUser ==='Coordinador General' || roleUser==='Admin'" class="nav-item" routerLinkActive="active" >
                <a class="nav-link" routerLink="/{{page.page}}">{{page.name}}</a>
              </li>
            </ul>
          </div>

          <!-- Logo -->
          <div class="logo">
              <img src="./../../../assets/img-home-users/Logo.png" alt="">
          </div>
      </div>



        <!-- user -->

            <a class="fas fa-user-circle" id="user" data-toggle="dropdown"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="first-title">
                  <p class="title">{{currentUser.userFirstname}} {{currentUser.userLastname}}</p>
                    <p class="title dos">{{currentUser.userEmail}}</p></div>
                    <ul >
                      <li ><a routerLink="/home/edit/{{currentUser.userID}}" ><i class="fas fa-id-card"></i>Perfil</a></li>
                      <li><a (click)="logout()"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a></li>
                  </ul>
            </div>
</section>
</nav>
