.carousel-item {
  height: 91vh;
  width: 100%;
  filter: brightness(70%);
}

.carousel-caption {
  top: 30%;
  transform: translateY(-30%);
}

.title-slide, .title-slide-2{
  color: #000;
  font-size: 68px;
  margin-bottom: 20px;

}

.title-slide{
  position: relative;
  left: 39%;
}

.title-slide-2{
  position: relative;
  left: 27%;
}



p {
  font-size: 28px;
  color: #000;
  font-weight: 600;
  margin-top: 40px;
}

