<h2>Ingreso</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="UserDni">Documento</label>
        <input type="text" formControlName="UserDni" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserDni.errors }">
        <div *ngIf="submitted && f.UserDni.errors" class="invalid-feedback">
            <div *ngIf="f.UserDni.errors.required">*Campo obligatorio</div>

        </div>
    </div>
    <div class="form-group">
        <label for="UserPassword">Contraseña</label>
        <input type="password" formControlName="UserPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserPassword.errors }" />
        <div *ngIf="submitted && f.UserPassword.errors" class="invalid-feedback">
            <div *ngIf="f.UserPassword.errors.required">*Campo obligatorio</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Ingresar
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>
