<section class="Resources">
  <div class="title">
      <h1>Recursos</h1>
  </div>
  <div class="container1">
      <div class="card-general">
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-maletin-medico-2"></i>
              </div>

              <div class="card-content">
                  <h3>Materiales</h3>
                  <div class="arrow">
                    <img src="../../../assets/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>

          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-genero"></i>
              </div>

              <div class="card-content">
                  <h3>Humanos</h3>
                  <div class="arrow">
                    <img src="../../../assets/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-financiamiento"></i>
              </div>

              <div class="card-content">
                  <h3>Economicos</h3>
                  <div class="arrow">
                      <img src="../../../assets/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-vehiculo-autorizado-01"></i>
              </div>

              <div class="card-content">
                  <h3>Rodados</h3>
                  <div class="arrow">
                    <img src="../../../assets/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>
