
<section class="Resources">
  <div class="title">
      <h1>Recursos</h1>
  </div>
  <div class="container1">
      <div class="card-general">
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
              </div>

              <div class="card-content">
                  <h3>Materiales</h3>
                  <div class="arrow">
                    <img src="../../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>

          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                <img src="../../../assets/icons - Resources - EmergDesas/genero.svg" alt="">
              </div>

              <div class="card-content">
                  <h3>Voluntarios</h3>
                  <div class="arrow">
                    <img src="../../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                <img class="First-img" src="../../../assets/icons - Resources - EmergDesas/maletin-medico-2.svg" alt="">
              </div>

              <div class="card-content">
                  <h3>Medicamentos</h3>
                  <div class="arrow">
                    <img src="../../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                <img src="../../../assets/icons - Resources - EmergDesas/vehiculo-autorizado-01.svg" alt="">
              </div>

              <div class="card-content">
                  <h3>Rodados</h3>
                  <div class="arrow">
                    <img src="../../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>
