<navbar></navbar>
<alert></alert>

<section class="Emergency-disastres">
  <div class="title">
  <h1>Emergencias - Desastres</h1></div>
  <div class="container1">
      <div class="card-general">
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-inundaciones"></i>
              </div>

              <div class="card-content">
                  <h3>Inundaciones</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>

          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-terremoto"></i>
              </div>

              <div class="card-content">
                  <h3>Sismos</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>
          <div class="card">

              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-incendios-urbanos"></i>
              </div>

              <div class="card-content">
                  <h3>Incendios Urbanos</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>

          </div>

          <div class="card">
              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-incendios-forestales"></i>
              </div>

              <div class="card-content">
                  <h3>Incendios Forestales</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>
          </div>

          <div class="card">
              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-tormentas-electricas"></i>
              </div>

              <div class="card-content">
                  <h3>Tormentas</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>
          </div>

          <div class="card">
              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-granizo"></i>
              </div>

              <div class="card-content">
                  <h3>Granizo</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>
          </div>

          <div class="card">
              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-ola-de-calor"></i>
              </div>

              <div class="card-content">
                  <h3>Ola de calor</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>
          </div>

          <div class="card">
              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-ola-polar"></i>
              </div>

              <div class="card-content">
                  <h3>Ola polar</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>
          </div>



          <div class="card">
              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-nevadas"></i>
              </div>

              <div class="card-content">
                  <h3>Nevadas</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>
          </div>

          <div class="card">
              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-barbijo"></i>
              </div>

              <div class="card-content">
                  <h3>Pandemias</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>
          </div>

          <div class="card">
              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-niebla"></i>
              </div>

              <div class="card-content">
                  <h3>Niebla</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>
          </div>

          <div class="card">
              <!-- Una tarjeta -->
              <div class="card-image"></div>

              <div class="card-image-resoursec">
                  <i class="icono-arg-tornados-y-tormentas-electricas"></i>
              </div>

              <div class="card-content">
                  <h3>Tornados</h3>
                  <div class="arrow">
                    <img src="../../assets/icons - Resources - EmergDesas/arrow-point-to-right.png" alt="">
                  </div>
              </div>
          </div>



      </div>
  </div>
</section>
