
<nav>
  <section class="contenedor nav" >
      <!-- Enlaces -->
      <div class="sidelogo">
          <input type="checkbox" id="check">
              <label for="check">
                  <i class="fas fa-bars" id="menu"></i>
              </label>

          <!-- Sidebar -->
          <div class="Enlaces">
            <ul class="navbar-nav mr-auto" *ngFor="let page of pages">
              <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link" routerLink="/home">Inicio</a>
              </li>
              <li *ngIf="roleUser === 'Admin' || roleUser==='Coordinador General'" class="nav-item" routerLinkActive="active" >
                <a class="nav-link" routerLink="/{{page.page}}">{{page.name}}</a>
              </li>
            </ul>
          </div>

          <!-- Logo -->
          <div class="logo">
              <img src="./../../../assets/img/Logo.png" routerLink="/home">
          </div>
      </div>

      <!-- user -->
      <input type="checkbox" id="check-user">
          <label for="check-user">
              <i class="fas fa-user-circle" id="user"></i>
          </label>

      <!-- User-Enlaces -->
      <div class="enlaces-user">
          <ul >
              <li ><a routerLink="/users/edit/{{currentUser.userID}}" ><i class="fas fa-id-card"></i>Perfil</a></li>
              <li><a (click)="logout()"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a></li>
          </ul>
      </div>
  </section>
</nav>
