@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200&display=swap');

/* Los estilos que se aplican a todas las paginas del Proyecto */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
  background: #EEEEEE;
}

.body{
  height: 100vh;
  background: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading div {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background: #bd2d2d;
  border-radius: 50%;
  display: inline-block;
  animation: dots 1.5s infinite ease-in-out;
}

.loading div:nth-child(2){
  animation-delay: .2s ;
}

.loading div:nth-child(3){
  animation-delay: .4s ;
}

@keyframes dots{
  30%{
      transform: translateY(20px);
  }

  50%{
      transform: translateY(0);
  }
}
