
<div>
  <footer class ="footer">

   <div class="row">
      <div class="col-lg-6 text-left">
      <h5>CONTACTO</h5>
      <a class="email" href="#" target="_blank">tesis.mb.unc@gmail.com</a>
      <p class="phone"> +54 351 423-1798</p>
      <p> 27 de Abril 1161, Córdoba, Argentina.</p>
      </div>
      <div class="col-lg-6 social-icons">
        <h5 class="text-left">SEGUINOS</h5><br>
        <a href="http://www.instagram.com/crargcordoba" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="http://www.twitter.com/CRA_CBA" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="http://www.facebook.com/cruzrojacba/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </div>

    </div>
    <p class="copyright">©2020 by UNC - Argentina</p>

  </footer>
  </div>
